html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
    /* font-size: 20px; */
    scroll-behavior: smooth;
}

body{
    font-size: 62.5%;
}
/* 
p {
    font-size: 1.28rem;
} */

div[role="group"][tabindex] {
    height: 100%;
}
@font-face {
    font-family: Kollektif;
    src: url(../assets/fonts/Kollektif.ttf);
  }
  @font-face {
    font-family: Kollektif;
    src: url(../assets/fonts/Kollektif-Bold.ttf);
    font-weight: bold;
  }

a {
    color: #fafafa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img,
video {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

h1 {
    font-weight: bold;
}

h1,
h2 {
    font-family: Kollektif, 'Nunito Sans', sans-serif;
}
h2 {
    font-size: 2rem;
}

ul{
    text-transform: lowercase;
    font-weight: 600;
}